html
{
  font-family: 'Nunito', sans-serif;
}
a
{
text-decoration: none;  
color: #d500f9;
}
/*Aqui estoy indicando el maximo de espacio que podra
ocupar una imagen en mi pagina.*/
img
{
max-width: 100%;
}

a:hover
{
  opacity: 0.5;

}

.title
{
text-transform: uppercase;
text-align: center;
font-size: 2em;
}
.address
{
  font-weight: bold;
  color: #642B73;
  font-size: 1.2em;
  display: inline-block;
}
.main-image
{
  float: left;
  margin-right: 1em;
  height: 250px;
}
.container
{
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center; 
}

.content
{
/*utiliza unidades de medidas relativas*/
max-width: 960px;
width: 100%;
height: 80vh;
background-color: white;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
border-radius: 4px;
position: relative;
padding: 0.8em;
overflow:scroll;
}
.actions
{
position: absolute;
top:1em; 
right: 1em;

}
.close
{
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background-color: #642B73;
  display: inline-block;
  box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}
.paragraph
{
  line-height: 1.8em;
  font-weight: 300%;
}
.fa-star
{
  color:#ffc400;
}
.table
{
  width: 100%;
  border-spacing: 0;
}
.table td,.table th
{
padding: 1em;
text-align: left;
}
.table tr:nth-child(2n){background-color: #F3e5f5;}

.title-item
{
  border-bottom: solid 2px #C6426E;
  padding-bottom: 1em;
  padding-top:2em;
}

.position
{
  background-color: #C6426E;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
  margin-right: 0.5em;
}

/*Para pantallas de ancho mas chicos*/
@media (max-width:600px)
{
  .content
  {
    padding: 1em;
  }
  /*aqui utilizamos una pseudo clase que nos permite seleccionar
  un elemento basado en su posicion, cuando esta al lado de sus mismos
  tipos*/

  td:nth-of-type(1)
  {
    font-size: 1.5em;
    font-weight: bold;
    color:#642B73;
  }
  /*romperemos la tabla en filas pequeñas y para eso utilizamos
    tranformamos las columnas en filas usando display block*/
  td
  {
    display:block;
  }
  th
  {
    display: none;
  }
}
/*esta media queries es para cuando las pantallas tenga un 
Minimo de altura*/
@media (min-height:550px)
{
.content
{
  height: 500px;
}
}
